body {
    background-color: black;
}

h1 {
    color: white;
}

img {
    width: 230px;
}

.container {
    text-align: center; 
}
  
.video-container {
    display: inline-block; 
    margin: 20px;
}